DATABASE_URL=postgresql://postgres.quuazutreaitqoquzolg:James2002eze%23@aws-0-eu-central-1.pooler.supabase.com:5432/postgres
VITE_FIREBASE_API_KEY=AIzaSyDxfd9hJ0NYN9KNP6UdCTU5VWHGLum-VFE
VITE_FIREBASE_AUTH_DOMAIN=allowance-001.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=allowance-001
VITE_FIREBASE_STORAGE_BUCKET=allowance-001.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=463313212619
VITE_FIREBASE_APP_ID=1:463313212619:web:29b6ae18f4648e6ae1774e
VITE_FIREBASE_MEASUREMENT_ID=G-1K8Q2V9G2Y
GEMINI_API_KEY=
